<div class="footer">
  Last updated <!--#config timefmt="%b-%Y" --><!--#echo var="LAST_MODIFIED" -->. <!-- <a href="" target="_blank">About page</a>. --> <a href="http://www.mpi-inf.mpg.de/impressum.html" target="_blank">Imprint/Impressum</a>.

  <!-- Google Analytics Include -->
<script src="{{ "/js/ga/ssridhar.js" | prepend: site.baseurl }}" type='text/javascript'></script>
<!-- This one is for the domain -->
<!-- <script src='js/ga/srinathsridhar.js' type='text/javascript'></script> -->

</div>
