<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  {% include head.html %}

  <body><!-- onload="init()">-->
    <div id="content">
      <div id="content-inner">

	{% include header.html %}

	<!-- <div class="page-content"> -->
	<!--   <div class="wrap"> -->
	<!--     {{ content }} -->
	<!--   </div> -->
	<!-- </div> -->

	{% include footer.html %}
      </div>
    </div>
    </body>
</html>
